version: '3.9'

services:
  todo-app:
    image:  mazenmostafa429/to-do-list:latest  
    restart: always
    env_file:
      - .env                             
    ports:
      - "4000:4000"                       
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4000"]
      interval: 30s
      timeout: 10s
      retries: 3

  watchtower:
    image: containrrr/watchtower
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: "--cleanup --interval 60 todo-app"

